header.header
    .header__container.container
        .header__social.social
            +social-icons
        nav.header__nav.nav
            a.nav__link(href="#") works
            a.nav__link(href="#") about
            a.nav__link(href="#") contact
