.contacts {
  padding: 200px 0;
  background: url("../images/content/contacts/contacts-bg.jpg") fixed center no-repeat;
  background-size: cover;

  &__title {
    @include section-title;
    text-align: center;
    color: $color-white;
  }

  &__container {
    display: flex;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    flex: 1;
    padding: 0 2rem;
    
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      text-align: right;

      @media (max-width: 768px) {
        align-items: center;
      }
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }

  &__heading {
    font-size: 1.125rem;
    color: $color-white;
    opacity: 0.9;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__button {
    border: 1px solid $color-white;
    padding: 1rem 2rem;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &:hover {
      .contacts__icon {
        transform: translateX(10px);
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    margin-right: 2rem;
    transition: 0.2s ease-out;

    @media (max-width: 576px) {
      margin-right: 1rem;
    }
  }

  &__text {
    color: $color-white;
    letter-spacing: 0.4rem;
    opacity: 0.9;

    @media (max-width: 576px) {
      letter-spacing: 0;
    }
  }
}
