.header {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 2;

  @media (max-width: 768px) {
    top: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__social {
    margin-left: 15px;
  }

  &__nav {
    @media (max-width: 768px) {
      margin-top: 3rem;
    }
  }
}

.nav {
  &__link {
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
    transition: 0.2s ease-out;
    position: relative;

    &:not(:last-child) {
      margin-right: 60px;

      @media (max-width: 576px) {
        margin-right: 20px;
      }
    }

    &:hover {
      opacity: 0.9;

      &::before {
        width: 100%;
        left: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0;
      height: 2px;
      background: $color-white;
      transition: 0.2s ease-out;
    }
  }
}

.social {
  display: flex;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-white;
    transform: rotate(-45deg) scale(1.42);
    width: 34px;
    height: 34px;
    transition: 0.1s ease-out;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      background: $color-black;
      transform: rotate(-45deg) scale(1.5);
      //.social__icon {
      //  fill: $color-white;
      //}
    }
  }

  &__icon {
    max-width: 15px;
    max-height: 15px;
    fill: $color-white;
    transform: rotate(45deg);
  }
}
