.trends {
  padding: 200px 0;
  background: $color-gray-light;

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  &__item {
    text-align: center;
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-20px);

      .trends__image {
        transform: scale(1.1);
      }
    }

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }

  &__image {
    max-width: 120px;
    max-height: 105px;
    margin-bottom: 2rem;
    transition: 0.2s ease;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 300;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
  }
}
