$color-bg: #222222;

.proficiency {
  padding: 200px 0;
  background: $color-bg;
  color: $color-white;

  &__title {
    @include section-title;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      justify-items: center;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
  }

  &__item {
    max-width: 170px;

    &:hover {
      .proficiency__name {
        transform: translateY(-5px);
      }
    }
  }

  &__chart {
    width: 170px;
    height: 170px;

    .proficiency__circle {
      stroke: $color-blue;
    }
  }

  &__percentage {
    fill: $color-white;
    font-size: 6px;
  }

  &__circle-bg {
    fill: none;
    stroke: $color-bg;
    stroke-width: 3.5;
  }

  &__circle {
    fill: none;
    stroke-width: 3.5;
    stroke-linecap: round;
    visibility: hidden;
  }
  
  &__name {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.1s ease-out;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    visibility: visible;
  }
}
