section.contacts
    .container
        h2.contacts__title get in touch
        .contacts__container
            .contacts__column
                .contacts__heading Ready to hire me?
                a.contacts__button.button(href='#') get in touch
                    span.button__arrow-right &rarr;
            .contacts__column
                .contacts__row
                    svg(class="contacts__icon")
                        use(xlink:href="static/images/svg/symbol/sprite.svg#email")
                    .contacts__text DSERDIUK@GMAIL.COM
                .contacts__row
                    svg(class="contacts__icon")
                        use(xlink:href="static/images/svg/symbol/sprite.svg#mobile")
                    .contacts__text +380957231830
                .contacts__row
                    svg(class="contacts__icon")
                        use(xlink:href="static/images/svg/symbol/sprite.svg#skype")
                    .contacts__text DSERDIUK
