section.about
    .container
        .about__info
            h2.about__title hi there!
            img.about__image(src="static/images/content/about/author.png")
            p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias, autem consectetur earum fugit iusto? Dolorum ea enim error et eum, iusto quidem vitae voluptate!
