section.banner.section
    .container
        .banner__info
            h1.banner__title.section__title the sunset
            p.banner__description Free PSD portfolio template
        a.banner__scroll.scroll(href="#about")
            svg(class="scroll__mouse")
                use(xlink:href="static/images/svg/symbol/sprite.svg#mouse")
            .scroll__text scroll down
            svg(class="scroll__arrow")
                use(xlink:href="static/images/svg/symbol/sprite.svg#arrow")

