section.things
    .container
        h2.things__title things i enjoy
        .things__list
            .things__item
                svg(class="things__icon")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#guitar")
            .things__item
                svg(class="things__icon")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#palette")
            .things__item
                svg(class="things__icon")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#food")
            .things__item
                svg(class="things__icon")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#puzzle")
