.trends.section
    .container
        .trends__list
            .trends__item
                svg(class="trends__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#web")
                .trends__title Web design
                .trends__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .trends__item
                svg(class="trends__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#ux")
                .trends__title UI/UX design
                .trends__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .trends__item
                svg(class="trends__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#promo")
                .trends__title Promo design
                .trends__description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
