extends template/main

block variables
    - var title = 'Home | The Sunset'
    - var pageClass = 'home-page'

block content
    include modules/banner/banner
    include modules/about/about
    include modules/works/works
    include modules/proficiency/proficiency
