section.proficiency
    .container
        h2.proficiency__title proficiency
        .proficiency__list
                .proficiency__item
                    svg.proficiency__chart(viewbox='0 0 36 36')
                        path.proficiency__circle-bg(d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        path.proficiency__circle(stroke-dasharray='100, 100' d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        text.proficiency__percentage(x='18' y='20.35', text-anchor='middle') 10/10
                    .proficiency__name adobe photoshop
                .proficiency__item
                    svg.proficiency__chart(viewbox='0 0 36 36')
                        path.proficiency__circle-bg(d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        path.proficiency__circle(stroke-dasharray='80, 100' d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        text.proficiency__percentage(x='18' y='20.35', text-anchor='middle') 8/10
                    .proficiency__name adobe illustrator
                .proficiency__item
                    svg.proficiency__chart(viewbox='0 0 36 36')
                        path.proficiency__circle-bg(d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        path.proficiency__circle(stroke-dasharray='75, 100' d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        text.proficiency__percentage(x='18' y='20.35', text-anchor='middle') 7.5/10
                    .proficiency__name axure
                .proficiency__item
                    svg.proficiency__chart(viewbox='0 0 36 36')
                        path.proficiency__circle-bg(d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        path.proficiency__circle(stroke-dasharray='70, 100' d='M18 2.0845\
                        a 15.9155 15.9155 0 0 1 0 31.831\
                        a 15.9155 15.9155 0 0 1 0 -31.831')
                        text.proficiency__percentage(x='18' y='20.35', text-anchor='middle') 7/10
                    .proficiency__name 3d max
